/* HomePage.css */
.home-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.home-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.87);;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
